<!DOCTYPE html>
<html lang="nb-NO">
<head>
    <title>Kvittering PDF</title>
    <meta charset="utf-8"/>
    <style>
        html {
            font-family: arial, serif;
        }

        body {
            font-family: arial, serif;
            word-wrap: break-word;
            font-size: 13px;
        }

        @page {
            size: A4;
            margin: 60px;

            @bottom-right {
                content: element(sidetall);
            }
            @bottom-left {
                content: element(dato);
            }
        }

        .sidetall {
            position: running(sidetall);
            text-align: right;
            font-size: 12px;
        }

        .dato {
            position: running(dato);
            font-size: 12px;
            text-align: left;
        }

        .sidetall_antall:before {
            content: counter(page);
        }

        .sidetall_total:before {
            content: counter(pages);
        }

        .tittel {
            margin-top: 50px;
            width: 100%;
            text-align: center;
            white-space: pre-wrap;
            font-size: 20px;
            margin-bottom: 40px;
        }

        .subtittel {
            font-size: 15px;
            width: 100%;
            text-align: center;
            white-space: pre-wrap;
            margin-bottom: 20px;
        }

        .h3 {
            font-size: 14px;
            width: 100%;
            text-align: left;
            white-space: pre-wrap;
            margin-bottom: 10px;
        }

        .p {
            font-family: arial, serif;
            word-wrap: break-word;
            font-size: 13px;
        }

        .ul {
        	text-align: left
        }

        .ul2 {
        	text-align: left
        	margin-left: 20px;
        }

        .navlogo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100px;
        }

        .tabell {
            table-layout: fixed;
            width: 100%;
        }

        .tabell_key {
            width: 30%;
            font-weight: bold;
        }

        .tabell_value {
            width: 70%;
        }


        @font-face {
            font-family: 'arial';
            font-style: normal;
            font-weight: 400;
            src: url(fonts/arial/arial.ttf);
        }

        @font-face {
            font-family: 'arial';
            font-style: normal;
            font-weight: 600;
            src: url(fonts/arial/arialbd.ttf);
        }

        table td, table td * {
            vertical-align: top;
            white-space: pre-wrap;
        }

    </style>
</head>
<body>

<img class="navlogo" src="icons/navlogo.jpg" alt="navlogo"/>
  <h1 class="tittel">{{ kvitteringsHeader }}</h1>

	<h2 class="subtittel">{{ ettersendelseTittel }}</h2>
  <h2 class="subtittel">{{ tittel }}</h2>

  <h2 class="subtittel">{{ personInfo }}</h2>

  <p class="p">{{ oppsummering }}</p>

<div class="sidetall">Side <span class="sidetall_antall"></span> av <span class="sidetall_total"></span></div>
<div class="dato">{{dato}}</div>

</body>
</html>
