<!DOCTYPE html>
<html lang="{{sprak}}">
<head>
	<title>Ettersending forside</title>
	<meta charset="utf-8"/>
	<meta name="author" content="NAV"/>
	<meta name="subject" content="Generert forside for ettersending av dokumentasjon"/>
	<meta name="description" content="{{beskrivelse}}"/>

	<bookmarks>
		<bookmark name="Ettersendingsheader" href="#ettersendingHeader"/>
		<bookmark name="tittel" href="#tittel"/>
		<bookmark name="personInfo" href="#personInfo"/>
	</bookmarks>
	<style>
		html {
			font-family: arial, serif;
		}

		body {
			font-family: arial, serif;
			word-wrap: break-word;
			font-size: 13px;
		}

		@page {
			size: A4;
			margin: 60px;

			@bottom-right {
				content: element(sidetall);
			}
			@bottom-left {
				content: element(dato);
			}
		}

		.dato {
			position: running(dato);
			font-size: 12px;
			text-align: left;
		}

		.sidetall {
			position: running(sidetall);
			text-align: right;
			font-size: 12px;
		}

		.sidetall_antall:before {
			content: counter(page);
		}

		.sidetall_total:before {
			content: counter(pages);
		}

		.tittel {
			margin-top: 50px;
			width: 100%;
			text-align: center;
			white-space: pre-wrap;
			font-size: 20px;
			margin-bottom: 40px;
		}

		.subtittel {
			font-size: 15px;
			width: 100%;
			text-align: center;
			white-space: pre-wrap;
			margin-bottom: 20px;
		}

		.h3 {
			font-size: 14px;
			width: 100%;
			text-align: left;
			white-space: pre-wrap;
			margin-bottom: 10px;
		}

		.p {
			font-family: arial, serif;
			word-wrap: break-word;
			font-size: 13px;
		}

		.navlogo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100px;
		}

		@font-face {
			font-family: 'arial';
			font-style: normal;
			font-weight: 400;
			src: url(fonts/arial/arial.ttf);
		}

		@font-face {
			font-family: 'arial';
			font-style: normal;
			font-weight: 600;
			src: url(fonts/arial/arialbd.ttf);
		}

	</style>
</head>
<body>

<div class="sidetall" id="side">{{ side }} <span class="sidetall_antall"></span> {{ av }} <span
	class="sidetall_total"></span></div>
<div class="dato" id="innsendtTidspunkt">{{ innsendtTidspunkt }}</div>

<img class="navlogo" src="icons/navlogo.jpg" alt="navlogo"/>
<h1 class="tittel" id="ettersendingHeader">{{ ettersendingHeader }}</h1>

<h2 class="subtittel" id="ettersendelseTittel">{{ ettersendelseTittel }}</h2>
<h2 class="subtittel" id="tittel">{{ tittel }}</h2>

<h2 class="subtittel" id="personInfo">{{ personInfo }}</h2>


</body>
</html>
