<!DOCTYPE html>
<html lang="nb-NO">
<head>
    <title>Kvittering PDF</title>
    <meta charset="utf-8"/>
    <style>
        html {
            font-family: arial, serif;
        }

        body {
            font-family: arial, serif;
            word-wrap: break-word;
            font-size: 13px;
        }

        @page {
            size: A4;
            margin: 60px;

            @bottom-right {
                content: element(sidetall);
            }
        }

        .sidetall {
            position: running(sidetall);
            text-align: right;
            font-size: 12px;
        }

        .sidetall_antall:before {
            content: counter(page);
        }

        .sidetall_total:before {
            content: counter(pages);
        }

        .tittel {
            margin-top: 50px;
            width: 100%;
            text-align: center;
            white-space: pre-wrap;
            font-size: 20px;
            margin-bottom: 40px;
        }

        .subtittel {
            font-size: 15px;
            width: 100%;
            text-align: center;
            white-space: pre-wrap;
            margin-bottom: 20px;
        }

        .h3 {
            font-size: 14px;
            width: 100%;
            text-align: left;
            white-space: pre-wrap;
            margin-bottom: 10px;
        }

        .h4 {
            font-size: 13px;
            width: 100%;
            text-align: left;
            white-space: pre-wrap;
            margin-bottom: 10px;
        }

        .p {
            font-family: arial, serif;
            word-wrap: break-word;
            font-size: 13px;
        }

        .ul {
          font-size: 13px;
        	text-align: left
        }

        .ul2 {
          font-size: 13px;
        	text-align: left;
        	margin-left: 20px;
        }

        .navlogo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100px;
        }

        @font-face {
            font-family: 'arial';
            font-style: normal;
            font-weight: 400;
            src: url(fonts/arial/arial.ttf);
        }

        @font-face {
            font-family: 'arial';
            font-style: normal;
            font-weight: 600;
            src: url(fonts/arial/arialbd.ttf);
        }

    </style>
</head>
<body>

<img class="navlogo" src="icons/navlogo.jpg" alt="navlogo"/>
  <h1 class="tittel">{{ kvitteringsHeader }}</h1>

  {{#if ettersendelseTittel}}
    <h2 class="subtittel">{{ ettersendelseTittel }}</h2>
  {{/if}}
  <h2 class="subtittel">{{ tittel }}</h2>

  <h2 class="subtittel">{{ personInfo }}</h2>

  <p class="p">{{ antallInnsendt }}</p>

  <ul class="ul">
    {{#each data}}
      <li>
        <h4>{{ kategori }}</h4>
        <ul class="ul2">
          {{#each vedlegg}}
            <li><p class="h4">{{ vedleggsTittel }}</p>
							 {{#if kommentar}}
								 <p class="p">{{ kommentar }}</p>
							 {{/if}}
             </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
<div class="sidetall">{{side}} <span class="sidetall_antall"></span> {{av}} <span class="sidetall_total"></span></div>

</body>
</html>
